@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

.navBar{
    background-color: #FAE2C6;
    padding: 10px;
}

.corsivo{
    font-family: 'Dancing Script', cursive;
}

.container-fluid{
    font-family: 'Libertinus Math', serif;
    color: #c7c4bf;
}

.cerca{
    width: 65%;
}

.lente{
    position: absolute;
    top: 44%;
    left: 71%;
    font-size: 1.1rem;
    color: #fca3f5
}

.utente{
    color: #37533E;
    font-size: 1.8rem;
}

.accedi{
    font-family: 'Libertinus Math', serif;
    color:#37533E
}

.carrello{
    color: #37533E;
    font-size: 1.8rem;
}