@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

.navBar{
    background-color: #FAE2C6;
    padding: 10px;
}

.corsivo{
    font-family: 'Dancing Script', cursive;
}

.container-fluid{
    font-family: 'Libertinus Math', serif;
    color: #c7c4bf;
}

.cerca{
    width: 65%;
}

.lente{
    position: absolute;
    top: 27%;
    left: 95%;
    font-size: 1.1rem;
    color: #fca3f5
}

.utente{
    color: #37533E;
    font-size: 1.8rem;
}

a {
    text-decoration: none !important;
}

.accedi{
    font-family: 'Libertinus Math', serif;
    color:#37533E
}

.carrello{
    color: #37533E;
    font-size: 1.8rem;
}

.login-container{
    background: linear-gradient(135deg, #ffe2c1, #FAE2C6);
    height: 100vh;
}

.form-container{
    width: 35%;
    background: linear-gradient(135deg, #ff98ab, #FF506F);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.titolo{
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form{
  padding: 1rem 1.2rem !important;
  box-shadow:0 6px 16px #FF506F;
}

.form:focus{
  outline: #6B2144 !important;
  border: 2px solid #FF506F !important; 
  box-shadow:0 6px 16px #9a0e27 !important; 
}

.bottone{
  background-color: #6B2144!important;
  color: #f0f9ff;
  font-weight: 700;
  border: none !important;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(84, 7, 7, 0.7);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bottone:hover {
  background-color: #6B2144;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px #6B2144;
}

#dropdown-basic{
    background-color:#FAE2C6 ;
    border: none;
}

.dropdown-toggle::after {
  color: #37533E; 
}

.logOutDropdown{
    min-width: auto !important;
    background-color:#37533E !important;
    width: 100px !important
}

.logOutButton{
    background-color:  #37533E ;
    width: 100%;
    border: none;
    font-size: 0.8em;
    color: #FAE2C6;
}

.logOutDropdown .dropdown-item:hover{
  background-color: transparent !important;
}

.contenitoreRisultati{
    height: 300px;
    z-index: 1000;
    top: 100%;
    left: -1%;
    background-color: white !important;
}

.contenitoreProdotti{
    width: 40%;
    max-height: 300px;
    overflow-y: auto;
}

.contenitoreFotoProdotto{
    width: 15%;
    height: 50px;
}

.sfondoDettagli{
    min-height: 100vh;
    background-color: #F8F8F8;
}

.contenitoreDettagli{
    width: 90%;
    height: 500px;
    box-shadow: 0 6px 16px rgba(77, 77, 77, 0.7);
}

.contenitoreIcona{
    width: 35px;
    height: 35px;
    border: 2px solid #a33b6c !important;
    border-radius: 50%;
}

.icona{
    color:#a03165
}

.fotoProdotto{
    width:35%;
}

.bordiViola{
    border-color: #a03165 !important;
}

.verticalLine{
    border-right: 2px solid grey
}

.bordiViola:focus{
    outline: #a03165 !important;
    box-shadow: 0px 6px 6px #a03165 !important; 
}

.piùPiccolo{
    font-size:0.7em
}

.aggiungiETogli{
    cursor: pointer;
}

.bottoneGrigio{
    background-color:  grey !important;
    border-color:grey !important;
    cursor:default !important;
}

.bottoneRosa{
    background-color:  #a03165 !important;
    border-color:#a03165 !important;
}

.bottoneRosa:hover{
     background-color:  #FF506F;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px  #FF506F;
}

.contenitoreProdottiCorrelati{
    width: 90%;
    height: 300px;
    box-shadow: 0 6px 16px rgba(77, 77, 77, 0.7);
}

.sfondoCarrello{
    background-color: #FAE2C6;
    height: 100vh;
    border-top: solid 2px #37533E;
}

.ruotato {
  transform: rotate(341deg);
  transition: transform 0.3s ease;
}

.sfondoRosa{
    background-color: #F2C99C;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.contenitoreFotoImmagine{
    width: 80px;
}

.contenitoreCarrello{
    width: 100%;
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important; 
    
}

.contenitoreCarrello::-webkit-scrollbar {
  width: 10px;
}

.contenitoreCarrello::-webkit-scrollbar-track {
  background-color: #F2C99C; 
}

.contenitoreCarrello::-webkit-scrollbar-thumb {
  background-color: #9F9F9F; 
  border-radius: 10px;
}

.bordiVerdi{
    border: 2px solid #37533E;
}

.scrittaVerde{
    color: #37533E;
}

.contenitoreFotoCarrelloVuoto{
    width: 20%;
}

.bordoSotto{
    border-bottom: 2px black solid;
}

.ordineDropDown{
    background-color: #F8F8F8 !important;
    color: black !important;
    border:none !important;
    position: relative !important;
    transform: none !important;
    top: 0 !important;
}

.sfondoGrigio{
    background-color: #F8F8F8;
}

.caroselloAltezza{
    height: 480px;
    position: relative;
}

.testoSinistra{
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 350px;
}

.bottoneTrasparente1{
    background-color: transparent !important;
    border: solid 2px white !important
}
.bottoneTrasparente2{
    background-color: transparent !important;
    border: solid 2px white !important
}
.bottoneTrasparente2:hover {
  background-color: #FFC857 !important;
  color: #265EAB !important;
}

.testoDestra{
    position: absolute;
    top: 5%;
    left: 10%;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
}

.testoGiallo{
    color: #FFC857 !important
}

.testoBeige{
    color:  #FFE8C2 !important;
}

.testoVerdeChiaro{
    color: #C8FACC !important; 
}

.contenitoreFotoAnimali{
    width: 17%;
    height: 200px;
}

.bordiArancioni{
    border: 5px solid #A52906 !important;
}

.bordiVerdiChiaro{
    border: 5px solid #00AF23 !important;
}

.scrittaMarrone{
    color: #D65A31
}

.cartaProdotti{
    height: 350px !important;
}

.altezzaImmagine{
    height: 200px;
}

.contenitoreFoto40{
    width: 40%;
}