@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

.navBar{
    background-color: #FAE2C6;
    padding: 10px;
}

.corsivo{
    font-family: 'Dancing Script', cursive;
}

.container-fluid{
    font-family: 'Libertinus Math', serif;
    color: #c7c4bf;
}

.cerca{
    width: 65%;
}

.lente{
    position: absolute;
    top: 27%;
    left: 95%;
    font-size: 1.1rem;
    color: #fca3f5
}

.utente{
    color: #37533E;
    font-size: 1.8rem;
}

a {
    text-decoration: none !important;
}

.accedi{
    font-family: 'Libertinus Math', serif;
    color:#37533E
}

.carrello{
    color: #37533E;
    font-size: 1.8rem;
}

.login-container{
    background: linear-gradient(135deg, #ffe2c1, #FAE2C6);
    height: 100vh;
}

.form-container{
    width: 35%;
    background: linear-gradient(135deg, #ff98ab, #FF506F);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.titolo{
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form{
  padding: 1rem 1.2rem !important;
  box-shadow:0 6px 16px #FF506F;
}

.form:focus{
  outline: #6B2144 !important;
  border: 2px solid #FF506F !important; 
  box-shadow:0 6px 16px #9a0e27 !important; 
}

.bottone{
  background-color: #6B2144!important;
  color: #f0f9ff;
  font-weight: 700;
  border: none !important;
  border-radius: 14px;
  cursor: pointer;
  box-shadow: 0 6px 16px rgba(84, 7, 7, 0.7);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.bottone:hover {
  background-color: #6B2144;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px #6B2144;
}

#dropdown-basic{
    background-color:#FAE2C6 ;
    border: none;
}

.dropdown-toggle::after {
  color: #37533E; 
}

.logOutDropdown{
    min-width: auto !important;
    background-color:#37533E !important;
    width: 100px !important
}

.logOutButton{
    background-color:  #37533E ;
    width: 100%;
    border: none;
    font-size: 0.8em;
    color: #FAE2C6;
}

.logOutDropdown .dropdown-item:hover{
  background-color: transparent !important;
}

.contenitoreRisultati{
    height: 300px;
    z-index: 1000;
    top: 100%;
    left: -1%;
    background-color: white !important;
}

.contenitoreProdotti{
    width: 40%;
    max-height: 300px;
    overflow-y: auto;
}

.contenitoreFotoProdotto{
    width: 15%;
    height: 50px;
}

.sfondoDettagli{
    min-height: 100vh;
    background-color: #F8F8F8;
}

.contenitoreDettagli{
    width: 90%;
    height: 500px;
    box-shadow: 0 6px 16px rgba(77, 77, 77, 0.7);
}

.contenitoreIcona{
    width: 35px;
    height: 35px;
    border: 2px solid #a33b6c !important;
    border-radius: 50%;
}

.icona{
    color:#a03165
}

.fotoProdotto{
    width:35%;
}

.bordiViola{
    border-color: #a03165 !important;
}

.verticalLine{
    border-right: 2px solid grey
}

.bordiViola:focus{
    outline: #a03165 !important;
    box-shadow: 0px 6px 6px #a03165 !important; 
}

.piùPiccolo{
    font-size:0.7em
}

.cliccabile{
    cursor: pointer !important;
}

.bottoneGrigio{
    background-color:  grey !important;
    border-color:grey !important;
    cursor:default !important;
}

.bottoneRosa{
    background-color:  #a03165 !important;
    border-color:#a03165 !important;
}

.bottoneRosa:hover{
    background-color:  #FF506F;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px  #FF506F;
}

.contenitoreProdottiCorrelati{
    width: 90%;
    height: 300px;
    box-shadow: 0 6px 16px rgba(77, 77, 77, 0.7);
}

.sfondoCarrello{
    background-color: #FAE2C6;
    height: 100vh;
    border-top: solid 2px #37533E;
}

.ruotato {
  transform: rotate(341deg);
  transition: transform 0.3s ease;
}

.sfondoRosa{
    background-color: #F2C99C;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.contenitoreFotoImmagine{
    width: 80px;
}

.contenitoreCarrello{
    width: 100%;
    max-height: 300px !important;
    overflow-y: auto !important;
    overflow-x: hidden !important; 
    
}

.contenitoreCarrello::-webkit-scrollbar {
  width: 10px;
}

.contenitoreCarrello::-webkit-scrollbar-track {
  background-color: #F2C99C; 
}

.contenitoreCarrello::-webkit-scrollbar-thumb {
  background-color: #9F9F9F; 
  border-radius: 10px;
}

.bordiVerdi{
    border: 2px solid #37533E;
}

.scrittaVerde{
    color: #37533E;
}

.contenitoreFotoCarrelloVuoto{
    width: 20%;
}

.bordoSotto{
    border-bottom: 2px black solid;
}

.ordineDropDown{
    background-color: #F8F8F8 !important;
    color: black !important;
    border:none !important;
    position: relative !important;
    transform: none !important;
    top: 0 !important;
}

.sfondoGrigio{
    background-color: #F8F8F8;
}

.caroselloAltezza{
    height: 480px;
    position: relative;
}

.testoSinistra{
    position: absolute;
    top: 5%;
    right: 10%;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 350px;
}

.bottoneTrasparente1{
    background-color: transparent !important;
    border: solid 2px white !important
}
.bottoneTrasparente2{
    background-color: transparent !important;
    border: solid 2px white !important
}
.bottoneTrasparente2:hover {
  background-color: #FFC857 !important;
  color: #265EAB !important;
}

.testoDestra{
    position: absolute;
    top: 5%;
    left: 10%;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
}

.testoGiallo{
    color: #FFC857 !important
}

.testoBeige{
    color:  #FFE8C2 !important;
}

.testoVerdeChiaro{
    color: #C8FACC !important; 
}

.contenitoreFotoAnimali{
    width: 17%;
    height: 200px;
}

.bordiArancioni{
    border: 5px solid #A52906 !important;
}

.bordiVerdiChiaro{
    border: 5px solid #00AF23 !important;
}

.scrittaMarrone{
    color: #D65A31
}

.cartaProdotti{
    height: 350px !important;
}

.altezzaImmagine{
    height: 200px;
}

.contenitoreFoto40{
    width: 40%;
}
.sfondoMarrone{
    background-color: #D5AC86;
}

.bordoSottoGiallo{
    border-bottom: solid 5px yellow !important;
}
.scrittaAvviso{
    position: absolute;
    bottom: 6%;
    left: 20%;
    color: #FF3B3F
}
.scrittaAvviso2{
    position: absolute;
    bottom: 6%;
    left: 20%;
    color: #FFB347
}

.bottoneServizi{
    position: absolute;
    bottom: 2%;
    left:13%;
    background-color: #D5AC86 !important;
    border:none !important;
    color:black;
    padding: 30px;
    border-radius: 10px;
    max-width: px;
}

.bottoneServizi:hover{
    background-color:  #be2a45;
    transform: translateY(-2px);
    box-shadow: 0 10px 20px  #911b30;
}

.bottoneServiziGrigio{
position: absolute;
    bottom: 2%;
    left:13%;
    background-color: rgb(145, 145, 145) !important;
    border:none !important;
    color: white;
    padding: 30px;
    border-radius: 10px;
    max-width: px;
}
.cardServizi{
    width: 28%;
    box-shadow: 0 6px 16px rgba(77, 77, 77, 0.7);
}

.overlay-dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.focus-element {
  position: relative;
  z-index: 1000; 
  background: white;
  margin: auto;
}

.contenitorePrenotazione{
    height: 500px;
    max-height: 500px;
   
}

.contenitoreCalendario{
    width: 100%; 
    font-Family: "Arial, sans-serif" ;

}


.contenitoreGiorni{
flex-Basis: 0;
 min-Width: 0
}

.contenitoreOrari{
    height: 370px;
    max-Height: "370px" !important;
    overflow-y: auto !important;
}

.contenitoreInformazioni{
    overflow-y: hidden;
}

.bordiRosa{
    border: 2px solid#F2C99C !important 
}

.bordiRosa:focus{
    outline: #6B2144 !important;
  box-shadow:0 6px 16px #eeb580  !important;
}

.cliccato{
   border-top: 2px #D5AC86 solid;
   border-bottom: 2px #D5AC86 solid ;
   cursor:pointer
}

.cliccato:hover{
    background-color: #F2C99C;
}

.nonCliccato{
    border-bottom: 1px rgb(222, 222, 222) solid;
    cursor: pointer
}

.nonCliccato:hover{
    background-color: rgb(194, 193, 193);
}

.fotoProdottoToelettatore{
    width: 10%;
}

.fotoProdottoAddestratore{
    width: 10%;
}

.box{
    animation: muoviVersoSinistraESparisci 0.5s forwards
}

.box2{
    animation: muoviVersoSinistra 0.5s forwards
}

.box3{
    position: absolute;
    left: 100%;
    animation: appariEPoiVersoSinistra 0.5s forwards;
}

.box4{
    animation: muoviVersoSinistraESparisci2 0.5s forwards
}

.box5{
    position: absolute;
    left: 100%;
    animation:muoviVersoSinistra2 0.5s forwards;
}
.box6{
    position: absolute;
    left: 50%;
}
.box7{
    position: absolute;
    left: 0%;
}

@keyframes muoviVersoSinistraESparisci{
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    10%{
        transform:translateX(-50px)
    }
    15%{
        transform: translateX(-100px);
        opacity: 0.8;
    }
    20%{
        transform: translate(-150px);
    }
    25%{
        transform: translateX(-200px);
        opacity: 0.7;
    }
    30%{
        transform: translateX(-250px);
    }
    35%{
        transform: translateX(-300px);
        opacity: 0.6;
    }
    50%{
        transform: translateX(-350px);
        opacity: 0.5;
    }
    65%{
        transform: translateX(-400px);
        opacity: 0.4;
    }
    75%{
        transform: translateX(-450x);
        opacity: 0.3;
    }
    85%{
        transform: translateX(-500px);
        opacity: 0.2;
    }
    100%{
        transform: translateX(-1900px );
        opacity:0   
    }
}

@keyframes muoviVersoSinistra{
    0%{
        transform: translateX(0);
       
    }
    10%{
        transform:translateX(-50px)
    }
    15%{
        transform: translateX(-100px);
      
    }
    20%{
        transform: translateX(-150px);
    }
    25%{
        transform: translateX(-200px);
        
    }
    30%{
        transform: translateX(-250px);
    }
    35%{
        transform: translateX(-300px);
        
    }
    50%{
        transform: translateX(-350px);
       
    }
    65%{
        transform: translateX(-400px);
      
    }
    75%{
        transform: translateX(-450px);
        
    }
    85%{
        transform: translateX(-500px);
       
    }
    100%{
        transform: translateX(-658px);
    }


}

@keyframes appariEPoiVersoSinistra {

    0%{
        transform: translateX(0);
       
    }
    10%{
        transform:translateX(-50px)
    }
    15%{
        transform: translateX(-100px);
      
    }
    20%{
        transform: translateX(-150px);
    }
    25%{
        transform: translateX(-200px);
        
    }
    30%{
        transform: translateX(-250px);
    }
    35%{
        transform: translateX(-300px);
        
    }
    50%{
        transform: translateX(-350px);
       
    }
    65%{
        transform: translateX(-400px);
      
    }
    75%{
        transform: translateX(-450px);
        
    }
    85%{
        transform: translateX(-500px);
       
    }
    100%{
        transform: translateX(-658px );
    }

}


@keyframes muoviVersoSinistraESparisci2{
       0%{
        transform: translateX(-668px );
        opacity: 1;
    }
    10%{
        transform:translateX(-710px)
    }
    15%{
        transform: translateX(-760px);
        opacity: 0.8;
    }
    20%{
        transform: translate(-810px);
    }
    25%{
        transform: translateX(-860px);
        opacity: 0.7;
    }
    30%{
        transform: translateX(-910px);
    }
    35%{
        transform: translateX(-960px);
        opacity: 0.6;
    }
    50%{
        transform: translateX(-1010px);
        opacity: 0.5;
    }
    65%{
        transform: translateX(-1060px);
        opacity: 0.4;
    }
    75%{
        transform: translateX(-1110x);
        opacity: 0.3;
    }
    85%{
        transform: translateX(-1160px);
        opacity: 0.2;
    }
    100%{
        transform: translateX(-1900px );
        opacity:0   
    }

}

@keyframes muoviVersoSinistra2 {
     0%{
        transform: translateX(-668px);
       
    }
    10%{
        transform:translateX(-710px)
    }
    15%{
        transform: translateX(-760px);
      
    }
    20%{
        transform: translateX(-810px);
    }
    25%{
        transform: translateX(-860px);
        
    }
    30%{
        transform: translateX(-910px);
    }
    35%{
        transform: translateX(-960px);
        
    }
    50%{
        transform: translateX(-1010px);
       
    }
    65%{
        transform: translateX(-1060x);
      
    }
    75%{
        transform: translateX(-1110px);
        
    }
    85%{
        transform: translateX(-1160px);
       
    }
    100%{
        transform: translateX(-1319px );
    }
}